
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #6d6d6d;
    background: #e6f5df;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    padding: 60;
}

.logo {
    font-size: 28px;
    font-style: italic;
    color: #a9b97f;
}

.navbar nav a {
    margin-left: 25px;
    text-decoration: none;
    color: #a9b97f;
    font-weight: bold;
    transition: 0.35;
}

.navbar nav a:hover {
    color: #889b56;
}

.navbar nav .btn {
    background: #a9b97f;
    color: #fff;
    padding: 6px;
    padding: 16px;
    border-radius: 10px;
}
.hero {
    text-align: center;
    padding: 120px;
    padding: 60px
}
.hero h1 {
    color: #a9b97f;
    font-size: 40px;
}
.hero p {
    color: #889b56;
    font-size: 19px;
    margin-top: 15px;
    max-width: auto;
    margin-right: auto;
}
.sobre {
    padding: 80px;
    padding: 60px;
    text-align: center;
}
.sobre h2 {
    color: #a9b97f;
    font-size: 29px;
}
.sobre p {
    max-width: 700px;
    margin: auto;
    margin-top: 15px;
    font-size: 16px;
}
footer{
    text-align: center;
    padding: 20px;
    margin-top: 50px;
    background: #bccd73;
    color: #555;
}

.login-body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #ddd;
}
.login-container {
    display: flex;
    width: 800px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0,0,0,0,.2);
}
.login-left {
    flex: 1;
    background: #a9b97f;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.login-left h1 {
    font-size: 40px;
    margin-top: 10px;
}
.login-right {
    flex: 1;
    padding: 40px;
}

.login-right form {
    display: flex;
    flex-direction: column;
}
.login-body label {
    margin-top: 15px;
    font-size: 14px;
    color: #666;
}
.login-body input {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 6px;
}
.checkbox {
    margin: 15px 0;
    font-size: 14px;
    color: #666;
}
.btn {
    background: #a9b97f;
    color: #fff;
    border: none;
    padding: 12px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
}
.btn:hover {
    background: #889b56;
}
.cancelar {
    margin-top: 15px;
    text-align: center;
    display: inline-block;
    color: #888;
    text-decoration: none;
    transition: 0.3s;
}
.cancelar:hover {
    color: #444;
}